=render 'admin/nav'

%h2
  ="All comments"
  =@count
-@comments.each do |t|
  .admin_stweet
    =t.content
    >>> on
    =link_to t.tweet.content, tweet_url(t.tweet)
    >>> by
    =link_to t.user.name, admin_user_url(t.user)
    %br
    =link_to t('.Delete'), admin_comment_url(t),:method=>:delete, :confirm=>'Are you sure?'
    =t.created_at
    %hr