=render 'admin/nav'
%h2 Today:
Tweets:
=@today_tweet_count
%br
Comments:
=@today_comment_count

%br
Users:
=@today_user_count

%h2 Total:
Tweets:
=@tweet_count
%br
Comments:
=@comment_count

%br
Users:
=@user_count