a {
color: #4B8DC5;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

a.close{cursor:pointer;}

body {
font: 12px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
color: #505050;
}

.tweet {
position: relative;
left: 0;
top: 0;
overflow: hidden;
_width: 630px;
border-bottom: 1px solid #EFF1F2;
padding: 15px 25px;
min-height: 48px;
height: auto!important;
height: 48px;
}

#tweets .tweet .hd{
position: absolute;
top: 16px;
}

.tweet .bd {
width: 480px;
margin-bottom: 5px;
overflow: hidden;
margin-left: 70px;
}

.tweet .bd .text {
font-size: 14px;
color: #333;
line-height: 19px;
word-wrap: break-word;

}
.username a {
font-size: 14px;
font-weight: 800;
color: black;
}

.ft {
color: #999;
}
.timestamp {
float: left;
}

.error.flash{
  background-color: #9F3501;
  padding: 1px 1px 1px 3px;
  overflow: hidden;
  white-space: nowrap;
  color: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
