- if user_signed_in?
  = link_to('Logout', destroy_user_session_path)
-else
  = link_to('Login', new_user_session_path)

-if user_signed_in?
  =render 'tweets/form'

- @tweets.each do |tweet|
  .tweet
    %p.content
      =tweet.content
    %p.author
      =tweet.user
