
-if user_signed_in?
  =render 'tweets/form'
#tweets
  - @tweets.each do |tweet|
    .tweet
      .hd
        =avatar_url(tweet.user)
      .bd
        .text
          %span.username=link_to(tweet.user.name, user_url(tweet.user))+':'
          =tweet.content
        .ft
          %span.timestamp=tweet.created_at
        
