=render 'admin/nav'

=@user.name
%br
Roles: 
=@user.roles.join ', '
%hr
.admin.user.tweets
  %h2='Tweets:'
  -@tweets.each do |t|
    .admin_stweet
      =link_to t.content, tweet_url(t)
      =t.created_at
  =link_to ('All'), tweets_admin_user_url(@user)
%hr
.admin.user.comments
  %h2='Comments:'
  -@comments.each do |c|
    .admin_comment
      =c.content
      =c.created_at
  =link_to ('All'), comments_admin_user_url(@user)