=render 'admin/nav'

%h1=t('.sites manage')

-form_tag({:action => "create"}, :remote=>true) do
  =text_field_tag(:url)
  =submit_tag t('.circle site'), :class=>'btn primary small'

#table=render 'table'
