=render 'admin/nav'

=render 'nav'

.clearfix
  %label=t('.circles')
  .input
    %span#circles_list
      =render 'circles'

-form_tag({:action=>'add_circles_to_site'},:remote=>true) do
  .clearfix
    %label=t('.add to circles')
    .input
      =text_field_tag(:circles)
      =submit_tag t('.add to circles'),:class=>'btn'

.clearfix
  %label=t('.site name')
  .input
    %span.uneditable-input{:style=>'width:250px;'}=@site.site_name

.clearfix
  %label=t('.site email')
  .input
    %span.uneditable-input{:style=>'width:250px;'}=@site.email

.clearfix
  %label=t('.site avatar')
  .input=gravta(@site.email)


.clearfix
  %label=t('.site description')
  .input    
    %textarea.xxlarge{:readonly=>true, :clos=>"30", :rows=>"10", :style=>'width:560px;'}
      =@site.site_description

.clearfix
  %label{:for=>'base_uri'}=t('.base uri')
  .input
    %span.uneditable-input#base_uri{:style=>'width:250px;'}=@site.base_uri
.clearfix
  %label{:for=>'hashed_public_key_area'}=t('.hashed public key')
  .input
    %span.uneditable-input#hashed_public_key_area{:style=>'width:250px;'}=@site.hashed_public_key
.clearfix
  %label{:for=>'public_key_area'}=t('.public key')
  .input
    %textarea.xxlarge#public_key_area{:readonly=>true, :clos=>"30", :rows=>"10", :style=>'width:560px;'}
      =@site.public_key
